* {
    box-sizing: border-box;
}
body {
	max-width: 60em;
 	margin: 0 auto;
}
/******         Flexbox         ******/
section {
  display: flex;
}
/****** Flex -grow -shrink -base ******/
div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

    border:1px solid white;
    border-width: 0 1px 1px 0;
    padding: .3em;
	background: tomato;
	font-size: 1.2em;
	text-align: center;
	color: white;
}

.II-I {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 1.3em;
}

.III-I {
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 2em;
}

.IV-I {
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 2.6em;
}