* {
    box-sizing: border-box;
}
body {
	max-width: 60em;
 	margin: 0 auto;
}
footer div {
  background: transparent;
  color: #555;
}
/******  columns   ******/
.col {
  display: flex;
  flex-flow: column;

/* Layout */
  border: 1px solid blue;   
  border-width: 0 1px 1px 0;
}

/* mobile = 0 to 37.5em */
.row {
  display: flex;
  flex-flow: column;
}

div {
  border:1px solid white;  
  border-width: 0 1px 1px 0;
  background: tomato;
  color: white;
  text-align: center;
  padding: .3em;
}
/****************************** 
    flex-grow: n;
    flex-shrink: n;
    flex-basis: n (n, px,em,%, auto);
    
    = flex: n n n;

/****** 600px ~ 37.5em + ******/
@media screen and (min-width: 37.5em) {

  .row {
    display: flex;
    flex-flow: row;
  }

  .I-I {
    flex: 1 1 0;
  }

  .II-I {
    flex: 2 2 1.4em;
  }

  .III-I {
    flex: 3 3 2.1em;
  }

  .IV-I {
    flex: 4 4 2.7em;
  }
  .mobile {
    display: none;
  }
}

